<%- include("partials/header") %>
<% if (data['total_results'] === 0) { %>
    <div class="container p-5">
        <div class="m-5 p-3 text-center alert alert-primary">
            No specific information about this movie/show found. Try different search parameters
        </div> 
    </div> 
<% } else { %> 
    <div class="container" id="results">
        <div class="row mx-auto">
            <% if (data['results'] !== undefined) { %>
                <% data['results'].forEach(movie => { %>
                    <% if (movie['media_type'] === 'movie') { %>
                        <div class="col-sm col-md-6 col-lg-4 my-2">
                            <div class="card h-100" style="width: 18rem;">
                                <a href="/info/<%= movie['original_title'] %>"><img class="card-img-top" id="img" src='https://image.tmdb.org/t/p/original<%=movie['poster_path'] %>'
                                        alt="Card image cap"></a>
                                <div class="card-body">
                                    <h5 class="card-title"><%= movie['original_title'] %>: <%= movie['release_date'].slice(0,4) %> </h5>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="col-sm col-md-6 col-lg-4 my-2">
                                <div class="card h-100" style="width: 18rem;">
                                    <a href="/info/<%= movie['original_name'] %>"><img class="card-img-top" id="img" src='https://image.tmdb.org/t/p/original<%=movie['poster_path'] %>'
                                            alt="Card image cap"></a>
                                    <div class="card-body">
                                        <h5 class="card-name"><%= movie['original_name'] %> </h5>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                <% }) %>
            <% } else { %>
                <p class="lead">No movie or TV show matching that show found. Go <a href="/">home</a> and try again <a href="/"></a></p>
            <% } %>
        </div>
    </div>
<% } %> 
<%- include("partials/footer") %>